# Séries temporais

## Tipos de data e ferramentas para data e hora

In [1]:
from datetime import datetime

import pandas as pd
import numpy as np

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2022, 9, 4, 13, 29, 50, 544224)

In [4]:
now.year, now.month, now.day

(2022, 9, 4)

In [5]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)

delta

datetime.timedelta(days=926, seconds=56700)

In [6]:
delta.days

926

In [7]:
delta.seconds

56700

In [8]:
from datetime import timedelta

In [9]:
start = datetime(2011,1,7)

start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [10]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### Conversão entre string e datetime

In [11]:
stamp = datetime(2011,1,31)

str(stamp)

'2011-01-31 00:00:00'

In [12]:
stamp.strftime('%Y-%m-%d')

'2011-01-31'

In [13]:
stamp.strftime('%m-%d-%Y')

'01-31-2011'

In [14]:
value = '2011-01-03'

datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [15]:
datetime.strptime(value,'%Y-%d-%m')

datetime.datetime(2011, 3, 1, 0, 0)

In [16]:
datastrs = ['7/6/2011','8/6/2011']

[datetime.strptime(x, '%m/%d/%Y') for x in datastrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [17]:
from dateutil.parser import parse

parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [19]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [20]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [21]:
idx = pd.to_datetime(datestrs + [None])

idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [22]:
idx[2]

NaT

In [23]:
pd.isnull(idx)

array([False, False,  True])

## Básico sobre séries temporais

In [24]:
from datetime import datetime

dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011,1,7), datetime(2011,1,8), datetime(2011,1,10), datetime(2011,1,12)]

ts = pd.Series(np.random.randn(6), index=dates)

ts

2011-01-02    0.079974
2011-01-05   -0.576239
2011-01-07    0.332066
2011-01-08   -0.232942
2011-01-10    0.161661
2011-01-12    0.684970
dtype: float64

In [25]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [26]:
ts + ts[::2]

2011-01-02    0.159949
2011-01-05         NaN
2011-01-07    0.664132
2011-01-08         NaN
2011-01-10    0.323321
2011-01-12         NaN
dtype: float64

In [27]:
ts.index.dtype

dtype('<M8[ns]')

In [28]:
stamp = ts.index[0]

stamp

Timestamp('2011-01-02 00:00:00')

### Indexação, seleção e geração de subconjuntos

In [29]:
stamp = ts.index[2]

ts[stamp]

0.33206602218784054

In [30]:
ts['1/10/2011']

0.16166073952917295

In [31]:
ts['20110110']

0.16166073952917295

In [33]:
longer_ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000',periods=1000))

longer_ts

2000-01-01   -0.497616
2000-01-02    2.551056
2000-01-03   -0.958318
2000-01-04    0.667602
2000-01-05    1.113326
                ...
2002-09-22   -0.480425
2002-09-23   -0.067592
2002-09-24   -1.115887
2002-09-25    0.259159
2002-09-26    1.498667
Freq: D, Length: 1000, dtype: float64

In [34]:
longer_ts['2001']

2001-01-01   -0.318654
2001-01-02    1.023476
2001-01-03   -0.034818
2001-01-04   -1.579272
2001-01-05    0.759107
                ...
2001-12-27   -0.126738
2001-12-28   -1.948789
2001-12-29   -1.369070
2001-12-30    0.816143
2001-12-31   -0.048107
Freq: D, Length: 365, dtype: float64

In [35]:
longer_ts['2001-05']

2001-05-01   -0.410923
2001-05-02   -0.167468
2001-05-03   -1.166858
2001-05-04    0.199702
2001-05-05   -0.365421
2001-05-06    0.245225
2001-05-07    0.078143
2001-05-08    1.707548
2001-05-09    0.975636
2001-05-10    1.181879
2001-05-11   -0.310683
2001-05-12    0.364642
2001-05-13    2.167785
2001-05-14    1.452317
2001-05-15    0.309138
2001-05-16   -0.986685
2001-05-17    0.660871
2001-05-18   -1.751018
2001-05-19   -0.820182
2001-05-20    0.377733
2001-05-21   -0.050014
2001-05-22    1.290940
2001-05-23   -0.415561
2001-05-24   -0.160504
2001-05-25   -0.669973
2001-05-26   -0.468496
2001-05-27   -0.982819
2001-05-28   -0.346315
2001-05-29    0.969318
2001-05-30   -1.065531
2001-05-31    0.051664
Freq: D, dtype: float64

In [36]:
ts[datetime(2011,1,7):]

2011-01-07    0.332066
2011-01-08   -0.232942
2011-01-10    0.161661
2011-01-12    0.684970
dtype: float64

In [37]:
ts

2011-01-02    0.079974
2011-01-05   -0.576239
2011-01-07    0.332066
2011-01-08   -0.232942
2011-01-10    0.161661
2011-01-12    0.684970
dtype: float64

In [38]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.332066
2011-01-08   -0.232942
2011-01-10    0.161661
dtype: float64

In [39]:
ts.truncate(after='1/9/2011')

2011-01-02    0.079974
2011-01-05   -0.576239
2011-01-07    0.332066
2011-01-08   -0.232942
dtype: float64

In [41]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

long_df = pd.DataFrame(np.random.randn(100,4),index=dates,columns=['Colorado','Texas','New York','Ohio'])

long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -2.057462  0.218504 -0.057172  0.151266
2001-05-09 -0.307799 -0.667335  0.151679 -2.341833
2001-05-16  0.563614 -1.210399  1.116038  0.888518
2001-05-23  0.597948  0.032705 -1.092942 -1.824722
2001-05-30  0.586287  2.309931 -0.355535 -0.879354

### Séries temporais com índices duplicados

In [42]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])

dup_ts = pd.Series(np.arange(5), index=dates)

dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [43]:
dup_ts.index.is_unique

False

In [44]:
dup_ts['1/3/2000'] # não duplicado

4

In [45]:
dup_ts['1/2/2000'] # duplicado

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [46]:
grouped = dup_ts.groupby(level=0)

grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

In [47]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## Intervalos de datas, frequências e deslocamentos

In [48]:
ts

2011-01-02    0.079974
2011-01-05   -0.576239
2011-01-07    0.332066
2011-01-08   -0.232942
2011-01-10    0.161661
2011-01-12    0.684970
dtype: float64

In [49]:
resampler = ts.resample('D')

resampler

### Gerando intervalos de datas

In [50]:
index = pd.date_range('2012-04-01','2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [51]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range(end='2012-06-01',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [53]:
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [54]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [55]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### Frequências e offset de datas

In [56]:
from pandas.tseries.offsets import Hour,Minute

hour = Hour()
hour

In [57]:
four_hours = Hour(4)
four_hours

In [58]:
pd.date_range('2000-01-01','2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [59]:
Hour(2) + Minute(30)

In [60]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

### Datas com a semana do mês

In [61]:
rng = pd.date_range('2012-01-01','2012-09-01',freq='WOM-3FRI')

list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### Deslocamento de datas (adiantando e atrasando)

In [62]:
ts = pd.Series(np.random.rand(4),index=pd.date_range('1/1/2000',periods=4,freq='M'))

ts

2000-01-31    0.457790
2000-02-29    0.682573
2000-03-31    0.660263
2000-04-30    0.782574
Freq: M, dtype: float64

In [63]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.457790
2000-04-30    0.682573
Freq: M, dtype: float64

In [64]:
ts.shift(-2)

2000-01-31    0.660263
2000-02-29    0.782574
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [65]:
ts.shift(2,freq='M')

2000-03-31    0.457790
2000-04-30    0.682573
2000-05-31    0.660263
2000-06-30    0.782574
Freq: M, dtype: float64

In [66]:
ts.shift(3,freq='D')

2000-02-03    0.457790
2000-03-03    0.682573
2000-04-03    0.660263
2000-05-03    0.782574
dtype: float64

In [67]:
ts.shift(1,freq='90T')

2000-01-31 01:30:00    0.457790
2000-02-29 01:30:00    0.682573
2000-03-31 01:30:00    0.660263
2000-04-30 01:30:00    0.782574
dtype: float64

### Deslocando datas com offsets

In [68]:
from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011,11,17)

now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [69]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [70]:
offset = MonthEnd()

offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [71]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [72]:
ts = pd.Series(np.random.randn(20),index=pd.date_range('1/5/2000',periods=20,freq='4d'))

ts

2000-01-05   -0.240569
2000-01-09    0.902253
2000-01-13    1.611341
2000-01-17   -1.083586
2000-01-21    0.217626
2000-01-25   -1.803768
2000-01-29   -0.507023
2000-02-02    1.703457
2000-02-06    1.765461
2000-02-10    1.210076
2000-02-14    0.234869
2000-02-18    0.542465
2000-02-22    1.407658
2000-02-26    0.856443
2000-03-01   -0.063590
2000-03-05   -0.545481
2000-03-09   -0.483344
2000-03-13   -1.349713
2000-03-17    0.515055
2000-03-21    0.665379
Freq: 4D, dtype: float64

In [73]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.129104
2000-02-29    1.102918
2000-03-31   -0.210282
dtype: float64

In [74]:
ts.resample('M').mean()

2000-01-31   -0.129104
2000-02-29    1.102918
2000-03-31   -0.210282
Freq: M, dtype: float64

## Tratamento de fusos horários

In [75]:
import pytz

pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [76]:
tz = pytz.timezone('America/New_York')

tz

### Localização e conversão dos fusos horários

In [77]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

ts = pd.Series(np.random.randn(len(rng)),index=rng)

ts

2012-03-09 09:30:00    0.869391
2012-03-10 09:30:00    0.408729
2012-03-11 09:30:00    0.295405
2012-03-12 09:30:00   -0.440755
2012-03-13 09:30:00   -0.278359
2012-03-14 09:30:00   -0.624204
Freq: D, dtype: float64

In [78]:
print(ts.index.tz)

None

In [79]:
pd.date_range('3/9/2012 09:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [80]:
ts

2012-03-09 09:30:00    0.869391
2012-03-10 09:30:00    0.408729
2012-03-11 09:30:00    0.295405
2012-03-12 09:30:00   -0.440755
2012-03-13 09:30:00   -0.278359
2012-03-14 09:30:00   -0.624204
Freq: D, dtype: float64

In [82]:
ts_utc = ts.tz_localize('UTC')

ts_utc

2012-03-09 09:30:00+00:00    0.869391
2012-03-10 09:30:00+00:00    0.408729
2012-03-11 09:30:00+00:00    0.295405
2012-03-12 09:30:00+00:00   -0.440755
2012-03-13 09:30:00+00:00   -0.278359
2012-03-14 09:30:00+00:00   -0.624204
Freq: D, dtype: float64

In [83]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [84]:
ts_utc.tz_convert('America/New_york')

2012-03-09 04:30:00-05:00    0.869391
2012-03-10 04:30:00-05:00    0.408729
2012-03-11 05:30:00-04:00    0.295405
2012-03-12 05:30:00-04:00   -0.440755
2012-03-13 05:30:00-04:00   -0.278359
2012-03-14 05:30:00-04:00   -0.624204
Freq: D, dtype: float64

In [85]:
ts_eastern = ts.tz_localize('America/New_York')

ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.869391
2012-03-10 14:30:00+00:00    0.408729
2012-03-11 13:30:00+00:00    0.295405
2012-03-12 13:30:00+00:00   -0.440755
2012-03-13 13:30:00+00:00   -0.278359
2012-03-14 13:30:00+00:00   -0.624204
dtype: float64

In [86]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.869391
2012-03-10 15:30:00+01:00    0.408729
2012-03-11 14:30:00+01:00    0.295405
2012-03-12 14:30:00+01:00   -0.440755
2012-03-13 14:30:00+01:00   -0.278359
2012-03-14 14:30:00+01:00   -0.624204
dtype: float64

In [87]:
ts.tz_localize('Asia/Shanghai')

2012-03-09 09:30:00+08:00    0.869391
2012-03-10 09:30:00+08:00    0.408729
2012-03-11 09:30:00+08:00    0.295405
2012-03-12 09:30:00+08:00   -0.440755
2012-03-13 09:30:00+08:00   -0.278359
2012-03-14 09:30:00+08:00   -0.624204
dtype: float64

### Operações com objetos Timestamp que consideram fusos horários

In [88]:
stamp = pd.Timestamp('2011-03-12 04:00')

stamp_utc = stamp.tz_localize('utc')

stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [89]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [90]:
stamp_utc.value

1299902400000000000

In [91]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

In [92]:
from pandas.tseries.offsets import Hour

stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [93]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [94]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [95]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

### Operações entre fusos horários diferentes

In [96]:
rng = pd.date_range('3/7/2012 09:30', periods=10, freq='B')

ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

2012-03-07 09:30:00   -0.049651
2012-03-08 09:30:00   -0.062911
2012-03-09 09:30:00   -0.802201
2012-03-12 09:30:00    1.756308
2012-03-13 09:30:00    0.230022
2012-03-14 09:30:00   -0.838057
2012-03-15 09:30:00    0.876550
2012-03-16 09:30:00    0.913297
2012-03-19 09:30:00   -0.298716
2012-03-20 09:30:00    1.328893
Freq: B, dtype: float64

In [98]:
ts1 = ts[:7].tz_localize('Europe/London')

ts1

2012-03-07 09:30:00+00:00   -0.049651
2012-03-08 09:30:00+00:00   -0.062911
2012-03-09 09:30:00+00:00   -0.802201
2012-03-12 09:30:00+00:00    1.756308
2012-03-13 09:30:00+00:00    0.230022
2012-03-14 09:30:00+00:00   -0.838057
2012-03-15 09:30:00+00:00    0.876550
dtype: float64

In [99]:

ts2 = ts1[2:].tz_convert('Europe/Moscow')

ts2

2012-03-09 13:30:00+04:00   -0.802201
2012-03-12 13:30:00+04:00    1.756308
2012-03-13 13:30:00+04:00    0.230022
2012-03-14 13:30:00+04:00   -0.838057
2012-03-15 13:30:00+04:00    0.876550
dtype: float64

In [100]:

result = ts1 + ts2

result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

## Períodos e aritmética com períodos

In [101]:
p = pd.Period(2007, freq='A-DEC')

p

Period('2007', 'A-DEC')

In [102]:
p + 5

Period('2012', 'A-DEC')

In [103]:
p -2

Period('2005', 'A-DEC')

In [104]:
pd.Period('2014',freq='A-DEC') - p

In [105]:
rng = pd.period_range('2000-01-01','2000-06-30',freq='M')

rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [106]:
pd.Series(np.random.randn(6),index=rng)

2000-01   -1.203184
2000-02    1.796779
2000-03    0.688685
2000-04    1.119510
2000-05   -1.529488
2000-06    0.339711
Freq: M, dtype: float64

In [107]:
values = ['2001Q3','2002Q2','2003Q1']

index = pd.PeriodIndex(values,freq='Q-DEC')

index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]')

### Conversão de frequência de períodos

In [109]:
p = pd.Period('2007', freq='A-DEC')

p

Period('2007', 'A-DEC')

In [110]:
p.asfreq('M',how='start')

Period('2007-01', 'M')

In [111]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [112]:
p = pd.Period('2007',freq='A-JUN')

p

Period('2007', 'A-JUN')

In [113]:
p.asfreq('M','start')

Period('2006-07', 'M')

In [114]:
p.asfreq('M','end')

Period('2007-06', 'M')

In [115]:
p = pd.Period('Aug-2007','M')

p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [116]:
rng = pd.period_range('2006','2009',freq='A-DEC')

ts = pd.Series(np.random.randn(len(rng)),index=rng)

ts

2006   -0.361905
2007    0.489770
2008   -0.721646
2009    1.279298
Freq: A-DEC, dtype: float64

In [117]:
ts.asfreq('M',how='start')

2006-01   -0.361905
2007-01    0.489770
2008-01   -0.721646
2009-01    1.279298
Freq: M, dtype: float64

In [118]:
ts.asfreq('B',how='end')

2006-12-29   -0.361905
2007-12-31    0.489770
2008-12-31   -0.721646
2009-12-31    1.279298
Freq: B, dtype: float64

### Frequências de período trimestrais

In [119]:
p = pd.Period('2012Q4', freq='Q-JAN')

p

Period('2012Q4', 'Q-JAN')

In [120]:
p.asfreq('D','start')

Period('2011-11-01', 'D')

In [121]:
p.asfreq('D','end')

Period('2012-01-31', 'D')

In [122]:
p4pm = (p.asfreq('B','e') - 1).asfreq('T','s') + 16 * 60

p4pm

Period('2012-01-30 16:00', 'T')

In [123]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [124]:
rng = pd.period_range('2011Q3','2014Q4',freq='Q-JAN')

ts = pd.Series(np.arange(len(rng)),index=rng)

ts

2011Q3     0
2011Q4     1
2012Q1     2
2012Q2     3
2012Q3     4
2012Q4     5
2013Q1     6
2013Q2     7
2013Q3     8
2013Q4     9
2014Q1    10
2014Q2    11
2014Q3    12
2014Q4    13
Freq: Q-JAN, dtype: int64

In [126]:
new_rng = (rng.asfreq('B','e') - 1).asfreq('T','s') + 16 * 60

ts.index = new_rng.to_timestamp()

ts

2010-10-28 16:00:00     0
2011-01-28 16:00:00     1
2011-04-28 16:00:00     2
2011-07-28 16:00:00     3
2011-10-28 16:00:00     4
2012-01-30 16:00:00     5
2012-04-27 16:00:00     6
2012-07-30 16:00:00     7
2012-10-30 16:00:00     8
2013-01-30 16:00:00     9
2013-04-29 16:00:00    10
2013-07-30 16:00:00    11
2013-10-30 16:00:00    12
2014-01-30 16:00:00    13
dtype: int64